# misc OSx
*~
.#.*
*.DS_Store

# xcode
*.xcworkspace

# ignore large file types


# ignore legacy loading screen images & music
/_legacy_ls_img
/_legacy_ls_music


# ignore legacy loading screen images


# ignore fivem server folder & server-data cache folder
server/
server-data/cache/






