set es_enableCustomData 1
#set mysql_connection_string "server=mysql-mariadb-dal01-9-101.zap-hosting.com;database=zap408714-1;userid=zap408714-1;password=4xXnb5x2aG0C8T98" # ** DO NOT COMMIT PW **
set mysql_connection_string "server=localhost;database=zap408714_1;userid=root;password=password" # ** DO NOT COMMIT PW **


## disable/comment license key
sv_licenseKey zq1290tt869it2vkc5yvxkrlhae4q26p #uncomment for dev server only

#endpoint_add_tcp "185.249.196.40:32070"
#endpoint_add_udp "185.249.196.40:32070"
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 32

# You probably don't want to change these!
# Only change them if you're using a server with multiple network interfaces.


# These resources will start by default.
start vk_loadingscreen
start mapmanager
start chat
start spawnmanager
start sessionmanager
start fivem
start hardcap
start rconlog
#start playernames

#Start before essentialmode
add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

#inserted trough ZAP resourcesystem
start trafficadjuster
start mysql-async
start essentialmode
start esplugin_mysql
start es_admin2

# custom scripts
start radiant_animations
# start Pixelated_Animations
start fingerpoint-animation
start bob74_ipl
start nw_bahamaMama
start PillboxHospital
start allcity_medical
start bedcommand
start coffe_policestation
#start noplayerblips
start gcphone #requirement (gcphone): placed before esx_job(s)
# start model_menu
start scrp_scripts
start 3dme

## rbrp resources ##
start rbrp_util
start rbrp_huk

## From ESX Pack ##
start async
start cron
start es_extended
start esx_addons_gcphone #requirement (esx_addons_gcphone): placed before esx_job(s)
start instance
start es_camera
start skinchanger
start esx_accessories
start esx_addonaccount
start esx_addoninventory
#start esx_phone
start esx_ambulancejob
start esx_animations
start esx_atm
start esx_bankerjob
start esx_barbershop
start esx_barbie_lyftupp
start esx_basicneeds
start esx_billing
#start esx_boat
start esx_boilerplate
start esx_borrmaskin
start esx_carwash
start esx_clotheshop
start esx_coffee
#start esx_contract
start esx_datastore
start esx_discord_bot
start esx_dmvschool
start esx_doorlock
start esx_drugs
start esx_drugeffects
start esx_duty
start esx_extraitems
#start esx_garage
#start esx_holdup
start esx_holdupbank
start esx_identity
start esx_inventoryhud
start esx_jb_outlawalert
start esx_judgejob
start esx_joblisting
start esx_jobs
start esx_kashacters
start esx_ktackle
start esx_lawyerjob
start esx_license
start esx_lockpick
start esx_lscustom
start esx_mecanojob
start esx_menu_default
start esx_menu_dialog
start esx_menu_list
start esx_migrate
start esx_nocarjack
start esx_optionalneeds
start esx_pizza
start esx_policejob
start esx_property
start esx-qalle-jail
start esx_realestateagentjob
start esx_repairkit
start esx_rpchat
start esx_scratchoffs
start esx_service
#start esx_shops
start esx-kr-advanced-shops
start esx_sit
start esx_skin
start esx_society
start esx_status
start esx_tattooshop
start esx_taxijob
start esx_trunk
start esx_vangelico_robbery
start esx_vehicleshop
start esx_voice
start esx_weaponshop
start esx_weapon_clip
#start esx_whitelistEnhanced
#start esx_jail
#start goDirty
#start esx_eden_garage
start esx_advancedgarage
stop scoreboard #requires stop to allow esx_scoreboard (starts by default)
start esx_scoreboard
start esx_legacyfuel
start esx_vehiclelock
## End of ESX Pack ##

start es_ui
start RealisticVehicleFailure
start JF_SeatShuffle
start vehicle-control
start seatbelt
start pNotify
start Yardtp
start prison-map-addon
start PoliceMissionRowExterior #Nx2 5-30-19 @ 5:22pm PST (Adding exterior mod to police station)

#Police Cars
	start pp1
	start pc3
	start pc2
	start pc1
	start BMWpolicebike
    start police_2014_dodge_ram_1500
    start police_2017_chevrolet_silverado_4x4
    start police_2018_dodge_charger_pursuit_edition

#Cars
	start 84rx7k
	start 370z
	start caprice
	start gtr
	start n6
	start r5
	start R32
	start rs6
	start s15
	start sti
	start cateyedually
	start 2ndgendually
	start apexe30
	start bc10
	start k5blazer
	start rrcuda
	start rtr
	start sfwdcrx

# Car mods
	start wk_wrs
	start hypr9boost

add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

# This allows players to use scripthook based plugins such as lambda menu.
# Set this to 0 to disallow scripthook.
sv_scriptHookAllowed 0

# Uncomment this to enable RCON. Make sure to change the password.
rcon_password 7326165879

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
sets banner_detail "https://discord.gg/r5v4x3y"
#sets banner_connecting "http://url.to/image.png"

# Set your server's hostname
sv_hostname "rbrp-dev"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
load_server_icon zap96x96.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
sv_master1 ""

# Want to only allow players authenticated with a third-party provider like Steam?
# Don't forget Social Club is a third party provider too!
#sv_authMaxVariance 1
#sv_authMinTrust 5

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
#add_principal identifier.steam:11000013b44adb1 group.admin # add the admin to the group
#add_principal identifier.steam:1100001052bd9b2 group.admin # add the admin to the group
add_principal identifier.steam:11000013b44adb1 group.superadmin # add the superadmin to the group
add_principal identifier.steam:1100001052bd9b2 group.superadmin # add the superadmin to the group
add_principal identifier.steam:110000102beb001 group.superadmin # add the superadmin to the group -- Nx2
add_principal identifier.steam:110000100464461 group.superadmin # add the superadmin to the group -- theging3r
add_principal identifier.steam:1100001184db220 group.superadmin # add the superadmin to the group -- phantom

# Hide player endpoints in external log output.
sv_endpointprivacy true

#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
restart sessionmanager
